* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    background: #283c86;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #45a247, #283c86);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #45a247, #283c86);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100%;
}

.header-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}

.logo {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.logo img {
    width: 70px;
    height: 70px;
}

.nav-container {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container ul {
    width: inherit;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header-container li {
    text-align: center;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 400;
    list-style: none;
    border: 2px solid white;
    border-radius: 10px;
}

.tarjeta {
    height: auto;
    width: 90%;
    border-radius: 10px;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    overflow: hidden;
}

.tarjeta h2 {
    text-align: center;
    font-size: large;
}

.tarjeta img {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.tarjeta .texto-tarjeta {
    padding: 2rem;
}

footer {
    background-color: coral;
    text-align: center;
    margin-top: 2rem;
    padding: 0.5rem;
    font-size: 1.4rem;
}